/*  .for className and # for ID
    General Styles
*/
#webpage-container-fluid {
    background-color: lightgray;
}
#top-title {
    margin-top: 50px;
}
.login-box{
   background: rgb(144,158,255);
background: linear-gradient(0deg, rgba(144,158,255,1) 0%, rgba(183,192,255,1) 6%, rgba(209,219,255,1) 25%, rgba(221,243,255,1) 75%);
    height:90vh;
}
#top-radios {
    margin-top: 50px;
}
#login-button {
    margin-top: 80px;
}
#scroll {
    margin-top:55px;
}
.signup-box {
    height:90vh;
    margin-top: 100px;
}
#signup-title {
    margin-top: 55px;
}
#left-forms {
    margin-top:40px;
}
#right-form {
    margin-top: 45px;
}
#signup-button {
    margin-top: 50px;
}
// #dropdowns {
//     margin-top:70px;
// }