/*  .for className and # for ID
    General Styles
*/
#webpage-container-fluid {
    background-color: lightgray;
}
#top-title {
    margin-top: 50px;
}
.login-box{
    background-color: lightgray;
    height:90vh;
}
#top-radios {
    margin-top: 50px;
}
#login-button {
    margin-top: 80px;
}
#scroll {
    margin-top:55px;
}
.signup-box {
    height:90vh;
    margin-top: 100px;
}
#signup-title {
    margin-top: 55px;
}
#left-forms {
    margin-top:40px;
}
#right-form {
    margin-top: 45px;
}
#signup-button {
    margin-top: 50px;
}
// #dropdowns {
//     margin-top:70px;
// }