
/* 
    General Styles
*/
p {
    padding: 0;
    margin: 0;
}

h3 {
     padding: 0;
    margin: 0;
}
<<<<<<< HEAD

body { 
    padding-top: 56px; 
    padding-bottom: 110px;
    }
=======
body {
    padding-top: 56px;
}
>>>>>>> 9c17af0cc4486e26fe0094e8ba73180cd5467c0d
