
/* 
    General Styles
*/
p {
    padding: 0;
    margin: 0;
}

h3 {
     padding: 0;
    margin: 0;
}

h4 {
     padding: 0;
    margin: 0;
}

body {
    padding-top: 70px;
    // margin-bottom: 90px;
}

.blurple-nav {
    background-color: #382272;
}

.blurple-btn {
    background-color: #382272;
    color: white;
}
.blurple-btn:hover {
    background-color: #5234A3;
    color: white;
}

.blurple-btn:active {
    background-color: #5234A3;
    color: white;
}

.icon {
    width: 40px;
    height: 40px;
}

.navbar-brand {
    margin-left: 10px;
    display: grid;
    grid: auto / auto auto;
    grid-gap: 16px;
    align-items: center;
}

.icon-white {
    color: white;
}

.icon-blurple {
    color: #5234A3;
}

// .test {
//     opacity: 40%;
// }

// .test2 {
//     background-color: lightgreen;
// }