
/* 
    General Styles
*/
p {
    padding: 0;
    margin: 0;
}

h2 {
    color: #5234A3;
}

h3 {
     padding: 0;
    margin: 0;
    color: #5234A3;
}

h4 {
     padding: 0;
    margin: 0;
    color: #5234A3;
}

h5 {
    color: #5234A3;
}

body {
    padding-top: 70px;
    // margin-bottom: 90px;
}

.custom-nav {
 background: #FEE4E9;
 color: #5234A3;
}

.custom-btn {
    background-color: #FEE4E9;
    color: #5234A3;
    border-color: #5234A3;
    border-width: 2px;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.custom-btn:hover {
    background-color: #FC5D99;
    color: white;
    font-weight: 700;
    border-color: #FC5D99;
}

.custom-btn:active {
    background-color: #FC5D99;
    color: white;
    font-weight: 700;
    border-color: #FC5D99;
}

.custom-btn:active:hover {
    background-color: #FC5D99;
    color: white;
    font-weight: 700;
    border-color: #FC5D99;
}

// .blurple-btn {
//     background-color: #382272;
//     color: white;
// }
// .blurple-btn:hover {
//     background-color: #5234A3;
//     color: white;
// }

// .blurple-btn:active {
//     background-color: #5234A3;
//     color: white;
// }

.home-btn {
    background-color: #0DCD94;
    color: white;
    font-weight: 700;
    letter-spacing: 0.055em;
    height: 50px;
    box-shadow: 0 12px 22px rgba(56, 34, 114, 0.20);
}
.home-btn:hover {
    background-color: #FEB738;
    color: #5234A3;
    font-weight: 700;
    transition: 0.5s;
    
}

.home-btn:active {
    background-color: #FEB738;
    color: #5234A3;
    font-weight: 700;
    
}

.icon {
    width: 40px;
    height: 40px;
}

.navbar-brand {
    margin-left: 10px;
    display: grid;
    grid: auto / auto auto;
    grid-gap: 16px;
    align-items: center;
    color: #5234A3;
}

.icon-white {
    color: white;
}

.icon-blurple {
    color: #5234A3;
}

.logo-title {
    color: #5234A3;
    font-style: normal;
    font-weight: 700;
}

a:hover {
    text-decoration: none;
}

// .test {
//     opacity: 40%;
// }

// .test2 {
//     background-color: lightgreen;
// }